.raw
  .columns.text-center
    img.b-me-photo(src="assets/images/me.png" alt="me.png")
  .columns.text-center
    a(href="https://github.com/lunatik-210")
      img.b-me-tech-logo(src="assets/images/github-logo.png" alt="github-logo.png")
    a(href="https://linkedin.com/in/andrewlapin")
      img.b-me-tech-logo(src="assets/images/linkedin-logo.png" alt="linkedin-logo.png")
    a(href="skype:lunatik-210?call")
      img.b-me-tech-logo(src="assets/images/skype-logo.png" alt="skype-logo.png")
    a(href="mailto:andrew.d.lapin@gmail.com")
      img.b-me-tech-logo(src="assets/images/gmail-logo.png" alt="gmail-logo.png")

