img.b-me-tech-logo {
  margin: 7px 7px 7px 7px;  
  width: 100px;
  height: auto;
}

img.b-me-photo {
  margin: 7px 7px 7px 7px;  
  width: 300px;
  height: auto;

  border-radius: 144px;
  -moz-border-radius: 144px;
  -webkit-border-radius: 144px;
}
