.b-technologies
  h1 Technologies
  .raw
    .columns.large-6.medium-6.small-6
      span
        | <a href="http://www.ecma-international.org/ecma-262/6.0/"><img class="b-technologies-tech-logo" src="assets/images/ecmascript6.jpg") alt="ecmascript6.jpg"></a> 
        | Publication of ECMAScript 6 standard is the greatest event of this year for frontend developers. No CoffeeScript or TypeScript.
        | ES6 collected best features from frontend community and included it into the standard. I enjoy it very much after almost 2 years
        | with ES5.
    .columns.large-6.medium-6.small-6
      span 
      | <a href="http://yeoman.io/"><img class="b-technologies-tech-logo" src="assets/images/yeoman-logo.png") alt="yeoman-logo.png"></a> 
      | To bootstrap a project I use Yeoman. 
      | It automated builds, tests, debugging. And what I enjoy the most it automatically reload a page once you have done some
      | changes in the code.
  .raw
    .columns.large-6.medium-6.small-6
      span
      | <a href="http://gulpjs.com/"><img class="b-technologies-tech-logo" src="assets/images/gulp-logo.png") alt="gulp-logo.png"></a>
      | Before I stared to use Yeoman I learned gulp. I opened the world of automation in frontend. Now I use Yeoman that uses gulp. 
    .columns.large-6.medium-6.small-6
      span 
      | <a href="https://angularjs.org/"><img class="b-technologies-tech-logo" src="assets/images/angularjs-logo.png") alt="angularjs-logo.png"></a>
      | The most awesome MVC frontend framework. It has steep learning curve. And my first days with it was like a nightmare
      | but it really speed up you once you know how an engine is working.
  .raw
    .columns.large-6.medium-6.small-6
      span 
      | <a href="http://jasmine.github.io/"><img class="b-technologies-tech-logo" src="assets/images/jasmine-logo.png") alt="jasmine-logo.png"></a>
      | Test are the must even in frontend. With jasmin it's easy to Describe It and test :)
    .columns.large-6.medium-6.small-6
      span 
      | <a href="http://konvajs.github.io/"><img class="b-technologies-tech-logo" src="assets/images/konva-logo.png") alt="konva-logo.png"></a>
      | I've just learned about that wrapper on canvas and from the very first steps of using it I fell in love.
      | It has so well organized and full documentation with API and examples. And very easy to write beautiful graphics.
      | It differ from canvas by presenting well implemented event system, drag and drop functionality as well as 
      | animation and other beauty builtins options.
  .raw
    .columns.large-6.medium-6.small-6
      span
      | <a href="http://foundation.zurb.com/"><img class="b-technologies-tech-logo" src="assets/images/fundation-logo.svg") alt="fundation-logo.svg"></a>
      | Very simular to bootstrap. Can't say much. I've just decided to try it out.
    .columns.large-6.medium-6.small-6
      span
      | <a href="http://jade-lang.com/"><img class="b-technologies-tech-logo" src="assets/images/jade-logo.jpg") alt="jade-logo.png"></a>
      | HTML is not sexy as much as Jade. One hour of using it was enough for me to be used to it. 
  .raw
    .columns.large-6.medium-6.small-6
      span
      | <a href="http://sass-lang.com/"><img class="b-technologies-tech-logo" src="assets/images/sass-logo.svg") alt="sass-logo.svg"></a>
      | Never ask me why not less. That is just the matter of taste.
