.raw
  h1 Testing
  span
    | In this project the core logic is present in <b>/app/tools/geom/*</b> folder. 
    | As this functionality is something on what the whole project is relying on I fully covered it by tests. <br><br>
    | Here I used <b>FILENAME.js</b> | <b>FILENAME.spec.js</b> naming notation for files that contains tests. <br><br>
  h3 Coverage
  span 
    | In my opinion not 100% of project should be covered by tests. Each tool should be helpfull and trying to test everything you can finally
    | endup with the fact that instead of focusing on project development you write tests. However writing a <b>Testable</b> code is something 
    | that worth to keep in mind. And one of the most obvious ways to do that is separating logic and not messing things in one bucket.<br><br>
  h3 Browsers
  .columns 
    img.b-technologies-tech-logo(src="assets/images/chrome-logo.png" alt="chrome-logo.png")
    img.b-technologies-tech-logo(src="assets/images/opera-logo.png" alt="opera-logo.png")
    img.b-technologies-tech-logo(src="assets/images/ie-logo.png" alt="ie-logo.png")
    img.b-technologies-tech-logo(src="assets/images/firefox-logo.png" alt="firefox-logo.png")
  span I verified a project on the most recent versions of Browsers and every should be fine :) <br><br>
  span ps For some reason the old version of Firefox on Linux behaved slowly