$btn-animation-in: zoomIn 0.2s;
$btn-animation-out: zoomOut 0.5s;

$geo-panel-animation-in: bounceIn 0.2s;
$geo-panel-animation-out: bounceOut 1.2s;

.scene {
	width: 100%;
	height: 100%;
	border: 10px solid #466d98;
}

button.geo-btn {
  width: 100%;
}

.btn-animate.geo-btn{
  &.ng-enter {
    -webkit-animation: $btn-animation-in;
    -moz-animation: $btn-animation-in;
    -ms-animation: $btn-animation-in;
    animation: $btn-animation-in;
  }
  &.ng-leave {
    -webkit-animation: $btn-animation-out;
    -moz-animation: $btn-animation-out;
    -ms-animation: $btn-animation-out;
    animation: $btn-animation-out;
  }
}

table.geo-panel {
  &.ng-enter {
    -webkit-animation: $geo-panel-animation-in;
    -moz-animation: $geo-panel-animation-in;
    -ms-animation: $geo-panel-animation-in;
    animation: $geo-panel-animation-in;
  }
  &.ng-leave {
    -webkit-animation: $geo-panel-animation-out;
    -moz-animation: $geo-panel-animation-out;
    -ms-animation: $geo-panel-animation-out;
    animation: $geo-panel-animation-out;
  }
}
