.raw
  .columns.large-10.medium-8.small-6
    .scene
      konva-stage
  .columns.large-2.medium-4.small-6
    .raw
      button.geo-btn(ng-click="main.goAbout()") About
    .raw
      span.alert.round.label(ng-if="main.scene.pointsAreIncorrect") Wrong point positions
    .raw
      table.geo-panel(ng-if="main.scene.parallelogram || main.scene.circle || main.scene.points.length")
        tr(ng-repeat="point in main.scene.points")
          td Point {{$index + 1}}
          td x={{point.x}} y={{point.y}}
        tr(ng-if="main.scene.parallelogram")
          td Parallelogram area
          td {{main.scene.parallelogram.area()}}
        tr(ng-if="main.scene.circle")
          td Circle area
          td {{main.Math.round(main.scene.circle.area())}}
    .raw
      button.geo-btn.btn-animate(ng-click="main.resetScene()" ng-if="main.scene.parallelogram || main.scene.circle || main.scene.points.length") reset
