.raw
    .columns.large-10.medium-8.small-6
        konva-stage
    .columns.large-2.medium-4.small-6
        .raw
            button.geo-btn(ng-click="main.goAbout()") About
        .raw(ng-repeat="point in main.scene.points")
            span Point {{$index + 1}}: 
            span x={{point.x}} y={{point.y}}
        .raw(ng-show="main.scene.parallelogram")
            span Parallelogram are: 
            span {{main.scene.parallelogram.area()}}
        .raw(ng-show="main.scene.circle")
            span Circle are: 
            span {{main.Math.round(main.scene.circle.area())}}
        .raw
            button.geo-btn.btn-animate(ng-click="main.resetScene()" ng-if="main.scene.parallelogram || main.scene.circle || main.scene.points") reset
